@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.title {
    font-weight: bold;
    color: #ff006a;
}

.titlecol {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.statTitle {
    text-decoration: underline;
    text-align: center;
}
